en==0.0.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
gensim==3.8.3
hyperlink==19.0.0
importlib-metadata==1.5.0
ipywidgets==7.6.3
itables==0.3.0
numpy==1.19.5
oauthlib==3.1.0
pandas==1.2.0
pandocfilters==1.4.3
pyLDAvis==2.1.2
scikit-learn==0.24.0
scipy==1.6.0
spacy==2.3.5
voila==0.2.6
